<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetKeeper</servlet-name>
        <servlet-class>servlets.GetPetKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>servlets.InitDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDB</servlet-name>
        <servlet-class>servlets.DeleteDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDelete</servlet-name>
        <servlet-class>servlets.AdminDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGetInfo</servlet-name>
        <servlet-class>servlets.UpdateGetInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>servlets.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvailableKeepers</servlet-name>
        <servlet-class>servlets.AvailableKeepers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetRegister</servlet-name>
        <servlet-class>servlets.PetRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPetInfo</servlet-name>
        <servlet-class>servlets.GetPetInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetUpdate</servlet-name>
        <servlet-class>servlets.PetUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookRegister</servlet-name>
        <servlet-class>servlets.BookRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBooking</servlet-name>
        <servlet-class>servlets.ManageBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBooking</servlet-name>
        <servlet-class>servlets.UpdateBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewRegister</servlet-name>
        <servlet-class>servlets.ReviewRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReview</servlet-name>
        <servlet-class>servlets.GetReview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetKeeper</servlet-name>
        <url-pattern>/GetKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDB</servlet-name>
        <url-pattern>/DeleteDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDelete</servlet-name>
        <url-pattern>/AdminDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGetInfo</servlet-name>
        <url-pattern>/UpdateGetInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailableKeepers</servlet-name>
        <url-pattern>/AvailableKeepers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetRegister</servlet-name>
        <url-pattern>/PetRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPetInfo</servlet-name>
        <url-pattern>/GetPetInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetUpdate</servlet-name>
        <url-pattern>/PetUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookRegister</servlet-name>
        <url-pattern>/BookRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBooking</servlet-name>
        <url-pattern>/ManageBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBooking</servlet-name>
        <url-pattern>/UpdateBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewRegister</servlet-name>
        <url-pattern>/ReviewRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReview</servlet-name>
        <url-pattern>/GetReview</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
